[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
ipython = "*"

[packages]
eve = "*"
pyjwt = "*"
bcrypt = "*"
gunicorn = "*"
gevent = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
